.login-wrapper {
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    padding: 4rem 2rem 3rem 2rem;
    border: 1px solid #efefef;
    width: 22rem;
    box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(0,0,0,0.06);
}

.login-logo {
    margin-bottom: 3.6rem;
    display: flex;
    justify-content: center;
}

.login-logo img {
    width: 8rem;
}


.login-title {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.login-info {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color: #333333;
}

.login-input-text {
    margin-bottom: 1rem;
    border: 1px solid #efefef;
    text-align: left;
    direction: ltr;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    background-color: #efefef;
    letter-spacing: 0.3em;
}

.login-input-text input{
    outline: none;
    border: none;
    display: inline-block;
    width: Calc(100% - 3.5rem);
    margin-left: 0.3rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 2rem;
    direction: ltr;
    text-align: left;
    background-color: #efefef;
    letter-spacing: 0.3em;
}



.login-btn {
    margin-bottom: 2rem;
}


.login-terms-and-conditions {
    font-size: 0.8rem;
}



.login-error-box {
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
    background-color: rgba(239, 7, 61, 0.29);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    color: #d21528;
    border: #ff253a 1px solid;
}


.login-error-box-close {
    outline: none;
    padding: 0;
    border: none;
    display: inline-block;
    background-color: rgba(0,0,0,0);
    color: inherit;
    font-weight: normal;
}

.login-error-box-header {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.2rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}